<div class="prose prose-invert">
  <h1>Switch</h1>
</div>

<div id="demo" class="prose prose-invert mt-4 mb-6">
  <p class="text-base/7">Display any content in a panel (portaled or not) with a accessiblility concerns already handled.</p>
</div>

<div class="relative flex flex-col items-center justify-center h-[400px]">
  <%= render Headless::Tab::GroupComponent.new(class: "flex h-full w-full") do |tab_group| %>
    <%= tab_group.with_tab_list(class: "flex gap-4 absolute top-0 right-0 z-10 bg-zinc-900 rounded-full") do |tab_list| %>
      <%= tab_group.with_tab(class: "rounded-full py-1 px-3 text-sm/6 font-semibold text-white focus:outline-none data-[selected]:bg-white/10 data-[hover]:bg-white/5 data-[selected]:data-[hover]:bg-white/10 data-[focus]:outline-1 data-[focus]:outline-white") do |tab| %>
        Preview
      <% end %>
      <%= tab_group.with_tab(class: "rounded-full py-1 px-3 text-sm/6 font-semibold text-white focus:outline-none data-[selected]:bg-white/10 data-[hover]:bg-white/5 data-[selected]:data-[hover]:bg-white/10 data-[focus]:outline-1 data-[focus]:outline-white") do |tab| %>
        Code
      <% end %>
    <% end %>
    <%= tab_group.with_panels(class: "h-full w-full") do |tab_panels| %>
      <%= tab_group.with_tab_panel(class: "mt-3 h-full w-full") do |tab_panel| %>
        <div class="relative h-full bg-white/5">
          <div class="absolute inset-[35%] block rounded-full bg-white/15 blur-2xl"></div>
          <div class="relative flex min-h-full w-full flex-col items-center justify-center">
            <%= render Headless::SwitchComponent.new(class: "group relative flex h-7 w-14 cursor-pointer rounded-full bg-white/10 p-1 transition-colors duration-200 ease-in-out focus:outline-none data-[focus]:outline-1 data-[focus]:outline-white data-[checked]:bg-white/10") do %>
              <span
                aria-hidden="true"
                class="
                  pointer-events-none inline-block size-5 translate-x-0 rounded-full bg-white ring-0 shadow-lg transition duration-200
                  ease-in-out group-data-[checked]:translate-x-7
                "
              />
            <% end %>
          </div>
        </div>
      <% end %>
      <%= tab_group.with_tab_panel(class: "mt-3 h-full w-full") do |tab_panel| %>
        <div class="h-full w-full overflow-auto flex flex-row">
          <div class="flex-grow">
            <%= render_markdown(File.read("app/views/docs/switch/_demo_example.md")) %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="prose prose-invert mt-8">
  <%= render_markdown(File.read("app/views/docs/_switch.md")) %>
</div>
