<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Headless View Component Website" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="relative min-h-full antialiased">
    <div class="[color-scheme:dark]">
      <div class="relative">
        <div class="bg-orange-950 absolute inset-0 -z-10 bg-[35%_top] bg-no-repeat sm:bg-[38%_top] md:bg-[40%_top] lg:bg-[44%_top] xl:bg-top forced-colors:hidden" aria-hidden="true"></div>
        <div class="absolute inset-0 -z-10 bg-[35%_bottom] bg-no-repeat mix-blend-screen sm:bg-[38%_bottom] md:bg-[40%_bottom] lg:bg-[44%_bottom] xl:bg-bottom forced-colors:hidden" aria-hidden="true"></div>
        <div class="pointer-events-none absolute inset-0 z-10 px-4 sm:px-6" aria-hidden="true">
          <div class="mx-auto flex h-full max-w-[calc(var(--container-7xl)+2px)] gap-[14px]">
            <div class="flex-1 border-x border-white/[7.5%]"></div>
            <div class="hidden flex-1 border-x border-white/[7.5%] sm:block"></div>
            <div class="hidden flex-1 border-x border-white/[7.5%] lg:block"></div>
          </div>
        </div>
        <div class="absolute inset-0 -z-10 opacity-10 forced-colors:hidden bg-black" aria-hidden="true"></div>
        
        <%= yield %>
      </div>
    </div>
  </body>
</html>
